.profile__avatar {
    width: 120px;
    height: 120px;
    padding-right: 30px;
}

@media all and (max-width: 700px) {
    .profile__avatar {
     padding-right: 0;
     padding-bottom: 22.25px;
    }
  } 
  